<!-- for-forgot-password -->
<div class="container "  *ngIf="!showResetForm">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header">
          <h3>Forgot Password</h3>
        </div>
        <div class="card-body">
          <p>Enter your email address to receive password reset link.</p>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </form>
          <!-- <div *ngIf="message" class="alert alert-success mt-3">
            {{ message }}
          </div> -->
        </div>
      </div>

    </div>

  </div>
</div>

<!-- for-reset-password -->
<div class="container"  *ngIf="showResetForm">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h3>Reset Password</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onReset()">
            <div class="form-group">
              <label for="otp">Email OTP:</label>
              <input type="text" class="form-control" id="otp" name="otp" [(ngModel)]="token" required>
            </div>
            <div class="form-group">
              <label for="password">New Password:</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary mt-1">Submit</button>
          </form>
          <!-- <div *ngIf="message" class="alert alert-success mt-3">
            {{ message }}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
